
{% for i in emp %}
<div id="editEmployeeModal-{{ forloop.counter }}" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="{% url 'update' i.id %}" method="post">
                {% csrf_token %}
                <div class="modal-header">						
                    <h4 class="modal-title">Edit Student</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    {{ i.update_form.as_p }}
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                    <input type="submit" class="btn btn-info" value="Update">
                </div>
            </form>
        </div>
    </div>
</div>
{% endfor %}
